# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science  
+ List some libraries for Data Science  
+ List some open source tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. ggplot2
5. dplyr

| Data Science Tools |
|--------------------|
|Jupyter notebook |
| R studio |
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(' %d minutes is %.2f hours ' % (minutes,hours))

 200 minutes is 3.33 hours

In [ ]:
## Author 
Wu Yi Hsuan